<header>
    <div class="custom-header" [class.active]='flag'>
        <div class="container">
            <div class="row">
                <div class="header-icon">
                    <img src="../../assets/image/img2.png" alt="">
                </div>
                <div class="header-menu">
                    <div class="row header-menu-top">
                        <img src="../../assets/image/img3.png" alt="">
                        <p>Express Delivery +1 234 567 890</p>
                    </div>
                    <div class="header-menu-bottom">
                        <ul class="menu-items">
                            <li class="menu-item">HOME</li>
                            <li class="menu-item">MENU</li>
                            <li class="menu-item">OUR STORY</li>
                            <li class="menu-item">CONTACT US</li>
                        </ul>
                    </div>
                </div>
                <div class="header-menu-bar" >
                    <p (click)="expand()">|</p>
                </div>
            </div>
        </div>
        <div class="hambar-menu-items" [class.menuShow]="menuFlag">
            <ul class="hambar-menu-item">
                <li class="ham-menu-item">HOME</li>
                <li class="ham-menu-item">MENU</li>
                <li class="ham-menu-item">OUR STORY</li>
                <li class="ham-menu-item">CONTACT US</li>
            </ul>
        </div>
    </div>
</header>