header {
  position: relative;
}

header .custom-header {
  padding: 21px 0 21px 0px;
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 99;
}

header .custom-header .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .custom-header .container .row .header-icon {
  width: 50%;
}

header .custom-header .container .row .header-icon img {
  width: 273px;
  height: 60px;
  padding-left: 10px;
}

header .custom-header .container .row .header-menu {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .custom-header .container .row .header-menu .row.header-menu-top {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .custom-header .container .row .header-menu .row.header-menu-top img {
  width: 44px !important;
  height: 28px !important;
}

header .custom-header .container .row .header-menu .row.header-menu-top p {
  font-size: 16px;
  margin: 0;
  margin-left: 5px;
  font-family: 'Oswald';
  color: #3d2514;
}

header .custom-header .container .row .header-menu .header-menu-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .custom-header .container .row .header-menu .header-menu-bottom .menu-items {
  list-style: none;
  margin: 0;
}

header .custom-header .container .row .header-menu .header-menu-bottom .menu-items .menu-item {
  margin-left: 37px;
  display: inline-block;
  font-family: Oswald;
  color: #3d2514;
  font-size: 20px;
}

header .custom-header .hambar-menu-items {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .custom-header .hambar-menu-items .hambar-menu-item {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #561717;
}

header .custom-header .hambar-menu-items .hambar-menu-item .ham-menu-item {
  margin-bottom: 5px;
  padding: 5px 0 5px 21px;
  border-bottom: 1px solid #a98383;
  color: #fff;
  font-family: 'Poppins';
}

header .custom-header .hambar-menu-items.menuShow {
  visibility: visible;
  opacity: 1;
}

.active {
  background-color: #28cfab !important;
}

.header-menu-bar {
  width: 30px;
  height: 30px;
  display: none;
}

.header-menu-bar p {
  font-size: 29px;
  margin: 0;
  font-weight: 500;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.header-menu-bar p:before {
  position: absolute;
  content: "|";
  top: 3px;
  left: -8px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 29px;
}

.header-menu-bar p:after {
  position: absolute;
  content: "|";
  top: 3px;
  left: 9px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 29px;
}

@media only screen and (max-width: 1024px) {
  .container .row .header-icon {
    width: 45% !important;
  }
  .container .row .header-menu {
    width: 48% !important;
  }
  .container .row .header-menu .row.header-menu-top {
    margin-right: 30px !important;
  }
  .container .row .header-menu .header-menu-bottom {
    display: none !important;
  }
  .container .row .header-menu-bar {
    display: block !important;
    padding-right: 7px;
  }
  .container .row .header-menu-bar p:before {
    top: 5px;
  }
  .container .row .header-menu-bar p:after {
    top: 5px;
  }
}

@media only screen and (max-width: 820px) {
  header .custom-header .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .custom-header .container .row .header-icon {
    width: 35% !important;
  }
  header .custom-header .container .row .header-menu-bar p:before {
    top: 5px;
  }
  header .custom-header .container .row .header-menu-bar p:after {
    top: 5px;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu {
    width: 47% !important;
  }
}

@media only screen and (max-width: 548px) {
  .container .row .header-icon {
    width: 42% !important;
  }
  .container .row .header-icon img {
    width: 248px !important;
    height: 51px !important;
  }
  .container .row .header-menu {
    width: 44% !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .container .row .header-menu .row.header-menu-top {
    width: 62% !important;
  }
}

@media only screen and (max-width: 450px) {
  .container .row .header-menu {
    visibility: hidden !important;
  }
}
/*# sourceMappingURL=header.component.css.map */