<footer>
    <div class="custom-footer">
        <div class="container">
            <div class="footer-wraper">
                <div class="footer-top-content">
                    <div class="footer-top-left-content">
                        <img src="../../assets/image/img23.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, officiis quis culpa enim, consectetur soluta ducimus eveniet facilis ab exercitationem et minima magnam vero adipisci? Ipsum tempore animi excepturi beatae!</p>
                    </div>
                    <div class="footer-top-right-content">
                        <a href="#"><img src="../../assets/image/img17.png" alt="">MAIN ROAD,BUILDING NAME,COUNTRY</a>
                        <a href="#"><img src="../../assets/image/img18.png" alt="">INFD@COMPANYNAME.COM</a>
                    </div>
                </div>
                <div class="footer-bottom-content">
                    <div class="footer-bottom-left-content">© Company Name 2020. All rights reserved.</div>
                    <div class="footer-bottom-right-content">
                        <ul>
                            <li><a href="#"><img src="../../assets/image/img19.png" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/image/img20.png" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/image/img21.png" alt=""></a></li>
                            <li><a href="#"><img src="../../assets/image/img22.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>