<section class="book">
    <div class="row book-wraper">
        <div class="book-content-img-left">
            <img id="content-img1" src="../../assets/image/img13.png" alt="">
            <img id="content-img2" src="../../assets/image/img14.png" alt="">
        </div>
        <div class="book-content-center">
            <div class="container">
                <h3>RESERVATION</h3>
                <h2>BOOK YOUR TABLE</h2>
                <form class="content">
                    <div class="row">
                        <ul class="form-content">
                            <li class="form-content-item"><input type="text" placeholder="NAME"></li>
                            <li class="form-content-item"><input type="text" placeholder="DATE"></li>
                            <li class="form-content-item"><input type="text" placeholder="PEOPLE"></li>
                        </ul>
                        <ul class="form-content">
                            <li class="form-content-item"><input type="text" placeholder="EMAIL"></li>
                            <li class="form-content-item"><input type="text" placeholder="TIME"></li>
                            <li class="form-content-item"><input id="content-form-button" type="submit" value="FIND A TABLE"></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
        <div class="book-content-img-right">
            <img src="../../assets/image/img15.png" alt="">
        </div>
    </div>
</section>