
<section class="custom-banner">
    <div class="container">
        <div class="banner-content">
            <div class="content-text">
                <p>IT IS A GOOD TIME FOR THE GREAT TASTE OF BURGERS</p>
                <h1>BURGER</h1>
                <h3>WEEK</h3>
            </div>
            <div class="content-img">
                <div class="img-box">
                    <img src="../../assets/image/img4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>